extends /layouts/application.pug

block content
    h2.text-center Create new status task
    .row.mt-3
      .col-sm-6.mx-auto
        +formFor(f, { url: urlFor('taskStatuses'), method: 'post' })
          +input(f, 'name')
          +button(f)