extends /layouts/application.pug

block content
    h2.text-center Edit password from user: #{user.fullName}
    .row.mt-3
      .col-sm-6.mx-auto
        +formFor(f, { url: urlFor('patchUserPassword', user.id), method: 'patch' })
          +input(f, 'oldPassword', { as: 'password' })
          +input(f, 'newPassword', { as: 'password' })
          +button(f)